* {
    font-family: 'Inter', sans-serif;
}

body {
    overflow-x: hidden;
    scrollbar-gutter: auto;
    width: 100vw;
}

#root {
    scrollbar-gutter: auto;
    width: 100vw;
}

.tag {
    color: #f472b6;
}

.attribute {
    color: #72a4f4;
    font-weight: 500;
}

.hideDocs {
    display: none;
}

.showDocs {
    display: flex;
    flex-direction: column;
}

.side-navbar {
    animation: sidenavbar .2s ease-in-out;
}

.codeblock-transition {
    animation: codeblockTransition .3s ease-in-out;
}

@keyframes sidenavbar {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(1);
    }
}

@keyframes codeblockTransition {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(1);
        opacity: 1;
    }
}